@font-face {
    font-family: 'BODAR';
    src: local('BODAR'), url(/fonts/BODAR.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: local('Montserrat-LightItalic'), url(/fonts/Montserrat-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url(/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'GoodVibrations';
    src: local('GoodVibrations'), url(/fonts/GoodVibrations.ttf) format('truetype');
}


.head {
    width: 100vw;
    height: 70vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.text {
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat-Medium";
    /*text header*/
    letter-spacing: 0.5px;
}

.names {
    padding-top: 0px;
    font-weight: 500;
    font-size: 60px;
    font-family: "GoodVibrations";
    padding-bottom: 50px;
}

.view {
    display: none !important;
}

.active {
    display: none !important;
    opacity: 0 !important;
}

.box .pic {
    width: 100vw;
    height: 100vh;
    /* padding: 50px; */
    border-radius: 1%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* aspect-ratio: 16/9; */

}

.box .pic .port {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    object-fit: cover;
    /* Vuelve a cover */
    object-position: center 18%;
    mask-image: linear-gradient(black 85%, transparent);
    box-shadow:
        inset 0 0 50px rgba(0, 0, 0, 0.3),
        /* Difuminado suave */
        inset 0 0 100px rgba(0, 0, 0, 0.2),
        /* Difuminado medio */
        inset 0 0 150px rgba(0, 0, 0, 0.1);
}

.box {
    background: center/ cover no-repeat url(/img/Invitacion_deskop.jpg);
    background-position: center 40%;
    /* Ajusta la posición */
    mask-image: linear-gradient(black 85%, transparent);
    width: 100vw;
    height: 100vh;
}

@media (max-width: 1024px) {
    .names {
        font-size: 50px;
        padding-bottom: 0px;
    }

    .box {
        background: center/ cover no-repeat url(/img/Fondo_invitacion.jpg);
    }
}

@media (max-width: 425px) {
    .names {
        font-size: 50px;
        padding-bottom: 0px;
    }


}

@media (max-width: 330px) {
    .box .pic .port {
        width: 95%;
    }


}